.topbarContainer{
    border-radius: 30px;
    background-color: rgba(234, 221, 255, 1);
    width: 100;
    color: #000;
    letter-spacing: 05.px;
    padding: 12px 70px 56px;
    font: 400 16px/24px Roboto;
}

.topbarLeft{
    flex: 3;
    background-color: #EADDFF;
}

.topbarCenter{
    border-radius: 28px;
    background-color: #fff;
    background-blend-mode: lighten;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    max-width: 100%;
    height: 56px;
}