/* data_button.css */

.button-container {
    position: fixed;
    top: 29%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font: Roboto;


}

button {
    background-color: rgba(234, 221, 255, 1);
    color: rgb(0, 0, 0);
    border: none;
    padding: 30px 60px;
    font-size: 46px; 
    cursor: pointer;
    border-radius: 16px;
}

button:hover {
    background-color: rgb(144, 102, 162);
}
