/* data_button.css */

.button-container {
    position: fixed;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    font: Roboto;

}
button {
    background-color: rgba(234, 221, 255, 1);
    color: rgb(0, 0, 0);
    border: none;
    padding: 40px 70px;
    font-size: 25px; 
    cursor: pointer;
    border-radius: 16px;
}

button:hover {
    background-color: rgb(144, 102, 162);
}
/* Style for the table container */
.table-container {
    position: absolute;
    top: 30%;
    left: 25%; /* Position the table to the right of the button */
    transform: translateY(-50%);
    width: 50%; /* Adjust width as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Add space between the button and table */
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

